html, body {
  text-align: center;
  height:100%;
  width:100;
  font-family: 'Maven Pro', sans-serif;
}
input,select{
  border-style: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
nav{
  z-index: 1;
}

/*
font-family: 'Poiret One', cursive;
font-family: 'Maven Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
