body {
  background-color: #603838;
  text-align: center;
}

section{
  background-color: #AE9181;
  margin: 10px;
}

input,select{
  border-style: none;
  /*color: white;*/
}

button {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 20px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, p {
  color: white;
}

.choice-container {
  width: 100%;
  margin: 10px;
}

/*#E6C3AF mid peach
#E9BDA4 light peach
#AE9181 dark peach
#603838 dark red
#82595D light red*/

/*font-family: 'Patua One', cursive;

font-family: 'Telex', sans-serif;

font-family: 'Russo One', sans-serif;*/
