.tab {
  list-style: none;
}

#dog-btn {
  margin-top: .25em;
}
/*#narrowResults{
  width:100%;
  height:100%;
}*/

#randomResultsWrapper {
  display: none;
}

#allPetPics {
  /*float: right;*/
  margin: auto;
}

#map { height: 100%; }
