body {
  background-color: #603838;
  text-align: center;
}

#stage-1-wrapper {
  background-color: #E9BDA4;
}

#searchSectionWrapper {
  background-color: #E6C3AF;
}

#newFriends {
  background-color: #AE9181;
}

#filterResultsWrapper {
  background-color: #82595D;
}

input,select,button, #filterResultsWrapper {
  border-style: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

h1, h2, p {
  color: white;
}

/*#E6C3AF mid peach
#E9BDA4 light peach
#AE9181 dark peach
#603838 dark red
#82595D light red*/

/*font-family: 'Patua One', cursive;

font-family: 'Telex', sans-serif;

font-family: 'Russo One', sans-serif;*/
